.s{
  background-color: rgb(2, 158, 2);
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  transition: padding-right 1s, padding-left 1s, padding-bottom 1s, padding-top 1s;
}
.s:hover{
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
 
}