.s{
  background-color: green;
  border: none;
  color: white;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.s:active{
  margin-left: 3px;
  margin-top: 3px;
  box-shadow: none;
}