.a1{
  background-color: green;
  border: none;
  color: white;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: padding-left .5s, padding-right .5s, margin-left .5s, margin-right .5s;
}
.a1:hover{
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 9px;
  margin-right: 9px;
}

.a2{
  background-color: green;
  border: none;
  color: white;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: padding-left .5s, padding-right .5s, margin-left .5s, margin-right .5s;
}
.a2:hover{
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 9px;
  margin-right: 9px;
}

.a3{
  background-color: green;
  border: none;
  color: white;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: padding-left .5s, padding-right .5s, margin-left .5s, margin-right .5s;
}
.a3:hover{
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 9px;
  margin-right: 9px;
}