.first{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
}
.second{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  margin-top: 3px;
  font-size: 17;
  color: rgb(240, 66, 66);
}