p{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.a1{
  font-weight: bold;
  font-size: 20;
  margin-bottom: 7px;
}
.a2{
  color: gray;
}
.b1{
  width: 500;
  margin-bottom: 25px;
}
.c2{
  color: rgb(0, 132, 255);
}