
  .subscribe-button{
    background-color: rgb(255, 6, 6);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right:10px;
    transition: opacity .2s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;

  }
  .subscribe-button:hover{
    opacity: .5;
  }
  
  .join-button{
    background-color: white;
    border-color: rgb(0, 136, 248);
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    color: rgb(41, 88, 219);
    cursor: pointer;
    margin-right: 10;
    transition: background-color .3s;
    transition: color .4s;
  }
  .join-button:hover{
    background-color: rgb(0,136,248);
    color: white;
  }
  .join-button:active{
    opacity: .7;
  }

  .tweet-button{
    background-color: rgb(0,172,238);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 11px;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 13;
    cursor: pointer;
    transition: box-shadow .2s;
    
  }

.tweet-button:hover{
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}
