.video-title{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: bold;
  width: 280px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 2;
}
.stats{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #606060;
  margin-top: 0;
  margin-bottom: 16;
}
.author{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #606060;
  margin-top: 0;
  margin-bottom: 18;
}
.article{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #606060;
  margin-top: 0;
  margin-bottom: 50px;
  width: 280px;
  line-height: 20px;
}
.direct{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 15px;
  background-color: #e34140;;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.shop-now{
  margin-left: 12px;
}
.shop-now:hover{
  text-decoration: underline;
  cursor: pointer;

}
